@page "/button"
@using Microsoft.AspNetCore.Components.Web
@inject AWJsInterop awJsInterop

<Button OnClick="ConvertToXML">ConvertToXML</Button>

<Divider />

<FileInput TValue="UpFileModel" ValueChanged="OnFileChanged">上传文件</FileInput>

<FileInput TValue="UpFileModel" Multiple="true" MultipleValueChanged="OnFilesChanged">上传文件s</FileInput>

@code{
    private async Task ConvertToXML(MouseEventArgs args)
    {
        var xmlWriter = new XmlWriter(awJsInterop);

        var person = new Person
            {
                Name = "hello",
                Age = "world"
            };

        await xmlWriter.WriteToFile(person, "Person.xml");
    }

    private async Task OnFileChanged(UpFileModel fileModel)
    {
        var zipHelper = new ZipHelper();
        await zipHelper.DecodingZip(fileModel);
    }

    private async Task OnFilesChanged(IEnumerable<UpFileModel> fileModels)
    {
        
    }
} 