@page "/button"
@using Microsoft.AspNetCore.Components.Web
@inject AWJsInterop awJsInterop
@inject NavigationManager Navigation

<Button OnClick="ConvertToXML">ConvertToXML</Button>

<Divider />

<FileInput TValue="UpFileInfo"
ValueChanged="OnFileChanged"
MIMEType="MIMEType.Zip"
InputRefChanged="OnFileInputRefChanged">上传文件</FileInput>

<Button OnClick="DownLoadFile">下载文件</Button>

<Divider />

<FileInput 
    TValue="UpFileInfo" 
    Multiple="true"
    InputRefChanged="OnFileInputRefChanged">上传文件</FileInput>

<Button OnClick="DownLoadFiles">下载文件</Button>

@code{
    private ElementReference _fileInputRef;

    private async Task ConvertToXML(MouseEventArgs args)
    {
        var xmlWriter = new XmlWriter(awJsInterop);

        var person = new Person
            {
                Name = "hello",
                Age = "world"
            };

        await xmlWriter.WriteToFile(person, "Person.xml");
    }

    private async Task OnFileChanged(UpFileInfo upFileInfo)
    {
        var textHelper = new TextFileHelper();
        await textHelper.DecodingText(upFileInfo);
    }

    private void OnFileInputRefChanged(ElementReference elementRef)
    {
        _fileInputRef = elementRef;
    }

    private async Task DownLoadFile(MouseEventArgs args)
    {
        var url = $"{Navigation.BaseUri}api/upload/chunk";
        await awJsInterop.UploadFileAsync(_fileInputRef, url);
    }


    private async Task DownLoadFiles(MouseEventArgs args)
    {
        var url = $"{Navigation.BaseUri}api/upload/chunk";
        await awJsInterop.UploadFilesAsync(_fileInputRef, url);
    }
} 