@page "/button"
@using Microsoft.AspNetCore.Components.Web
@inject AWJsInterop awJsInterop

<Button OnClick="ConvertToXML">ConvertToXML</Button>

<Divider />

<FileInput TValue="UpFileInfo"
           ValueChanged="OnFileChanged"
           MIMEType="MIMEType.Text">上传文件</FileInput>

<FileInput TValue="UpFileInfo" Multiple="true" MultipleValueChanged="OnFilesChanged">上传文件s</FileInput>

@code{
    private ElementReference _fileInputRef;

    private async Task ConvertToXML(MouseEventArgs args)
    {
        var xmlWriter = new XmlWriter(awJsInterop);

        var person = new Person
            {
                Name = "hello",
                Age = "world"
            };

        await xmlWriter.WriteToFile(person, "Person.xml");
    }

    private async Task OnFileChanged(UpFileInfo upFileInfo)
    {
        var textHelper = new TextFileHelper();
        await textHelper.DecodingText(upFileInfo);
    }

    private async Task OnFilesChanged(IEnumerable<UpFileInfo> browserFile)
    {
        
    }
} 