@page "/components"
@using SharedLibrary.Components
@using System.IO.Compression
@using System.Text

<Label Text="这是一个标签"></Label>

<Input TValue="bool" 
Type="InputType.Checkbox"
Value="_inputValue"
ValueChanged="CheckBoxChanged" />

<Divider />

@_inputValue

@code{
    private bool _inputValue = false;

    private async Task CheckBoxChanged(bool arg)
    {
        _inputValue = !_inputValue;
        StateHasChanged();
    }
}
