@page "/diagramView"
@using SharedLibrary.Components
@using SharedLibrary.Interfaces
@inject IDiagramService DS

<Button OnClick="AddRect">+ Rect +</Button>

<Divider />

<!-- 使用笛卡尔坐标系 -->
<Diagram></Diagram>

@code {
    private Task AddRect(MouseEventArgs args)
    {
        var rect = new Rect();
        DS.Add(rect);
        return Task.CompletedTask;
    }
}
