@page "/"
@using AWUI.Components;

<Progress Value="_value"></Progress>

<Divider Style="margin: 10px 0px;" Color=ColorType.Yellow />

<Button OnClick="InscreaseValue">进度 + 1</Button>

@code{
    private float _value = 0.0f;

    private void InscreaseValue()
    {
        _value++;

        StateHasChanged();
    }
}