@page "/translation"

<p>
    自动检测语言并翻译，中-英。调用谷歌翻译
</p>

<Divider Style="@Style" />

<Input TValue="string"
       Type=InputType.Text
       Value="_text"
       OnEnter="OnEnter"/>

<Divider Style="@Style"/>

<p>
    @_translationText
</p>

@code {
    private string _text = string.Empty;

    private string _translationText = string.Empty;

    private const string Style = "display: block; height: 30px; color:green;";

    private async Task OnEnter(string text)
    {
        _text = text;
        _translationText = await Translator.TranslateAsync(text);

        StateHasChanged();
    }
}